/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 May 2024, 5:32:44 AM
    Author     : Clare_S5
*/

#first{
  background-color:#1F2937;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
#first img {
  width: 500px;
  height: 200px;
  background-color:#666;
  margin-bottom: 30px;
  margin-right: 100px;
}
#first h2{
  font-size: 48px;
  font-weight: bolder;
  color:#F9FAF8;
  margin-left: 150px;
}
#first p {
  font-size: 18px;
  color:#E5E7EB;
  margin-left: 180px;
}
#first button {
  background-color: #3882F6;
  margin-left: 180px;
  color:#fff;
  display: inline-block;
  padding: 0.5rem 2rem;
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;  
}
#first button:hover{
  background-color: #0056b3;  
}

/*#second{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
}

#teams  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 250px;
  margin-right: 250px;
}
#teams img {
  height: 100px;
  width: 100px;
  border: solid medium blue;
  border-radius: 5px;
}*/
#third {
  background-color: #E5E7EB;
  font-size: 36px;
  font-family: light italic;
  color: #1F2937;
  margin-left: 70px;
  margin-right: 70px;
  padding: 40px;
  margin-bottom: 40px;
}
.spaced-text {
  margin-left: 700px;
}
#fourth {
  background-color:#3882F6;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 19rem 3rem 19rem;
  background-color: #3882f6;
  border-radius: 5px;
  padding: 2rem 4rem;
  color: #f9faf8;

}
#attract {
  padding: 3rem 2rem;
}
.signUp {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  color: #f9faf8;
}
.signUp h3 {
  margin: 0;
  background-color: #3882f6;
  text-align: left;
  color: #f9faf8;
}
.signUp p {
    margin: 0;
}

.attractbtn{
  display: inline-block;
  padding: 0.5rem 2rem;
  font-size: 14px;
  color: #fff;
  background-color: #3882f6;
  border: 1px solid #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#attract button:hover{
  background-color: #0056b3;  
}

#second {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#second h2 {
 text-align: center;
 margin-bottom: 15px;
 margin-right: 250px;
 margin-left: 250px;
}
#teams {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.team-members {
  text-align: center;
  margin: 0 10px 20px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

#teams:hover {
  transform: translateY(-5px);
}

#teams img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

#teams strong {
  font-size: 20px;
  margin-bottom: 5px;
}

small {
  color: #666;
  font-size: 16px;
  text-align: center;
}

@media (max-width: 576px) {

  section#fourth {
    margin: 0 0 1rem 0;
  }
  .signUp {
    padding: 2rem 2rem;
  }
}
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
  }

  .menu li {
    display: block;
  }

  .menu li a {
    font-size: 20px;
    padding: 8px;
  }

  #teams figure {
    flex-basis: 50%;
  }

  #first, #second, #third, #fourth {
    flex-direction: column;
    align-content: center;
  }
  #first section, #fourth section {
    flex: 1 1 100%;
}
}